.hover-theme-color:hover {
    color: #e22454;
}

.custom-pagination ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.custom-pagination li {
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
    z-index: 0;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    color:#e22454;
}

.custom-pagination li.selected {
    background-color: #e22454 !important;
    color: white !important;
}

.custom-pagination li:hover {
    background-color: #eee;
    color:#e22454 !important;
}